*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.card{
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid lightgray;
    background-color: antiquewhite;
}